* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {
    width: 12.5px;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #0075ff;
}
::-webkit-scrollbar-thumb:hover {
    background: #0d69d5;
}
.section {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background: #F1F5F9;
}
.sidebar {
    position: relative;
    width: 225px;
    padding: 20px;
    box-shadow: 0 0 8px #E4E4E4;
    background: white;
}
.sidebar h1 {
    position: relative;
    text-align: center;
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 25px;
    font-weight: 700;
}
.sidebar h1::before {
    content: '';
    position: absolute;
    width: 85px;
    height: 1.5px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
}
.sidebar h1::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    border: 5px solid white;
    background: black;
}
.sidebar a {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: 0.3s;
    color: black;
}
.sidebar i {    
    font-size: 17.5px;
}
.sidebar span {
    margin-left: 10px;
}
.sidebar a:hover , #active {
    background: #f0f0f0;
}
@media(max-width: 767px) {
    .sidebar {
        width: 65px;
        padding: 15px;
    }
    .sidebar span {
        display: none;
    }
    .sidebar h1::before ,
    .sidebar h1::after {
        display: none;
    }
    .sidebar h1 {
        font-size: 15px;
        margin-bottom: 10px;
        margin-left: -6.5px;
    }
}
.content {
    width: 100%;
    overflow: hidden;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background: white;
}
.search {
    position: relative;
    margin-left: -20px;
}
.icons {
    display: flex;
    align-items: center;
}
.notifications {
    position: relative;
}
.search::before {
    cursor: pointer;
    font-family: "Font Awesome 6 Free";
    content: "\f002";
    font-size: 15px;
    font-weight: 900;
    position: absolute;
    left: 35px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}
.search input {
    cursor: pointer;
    width: 165px;
    margin-left: 25px;
    padding: 10px;
    padding-left: 30px;
    border: 1px solid #CCC;
    border-radius: 10px;
    transition: width .3s;
}
.search input:focus {
    width: 180px;
    outline-color: #AAA;
}
.search input:focus::placeholder {
    opacity: 0;
    transition: all ease-in .3s;
}
.notifications i {
    cursor: pointer;
}
.notifications::before {
    content: '';
    cursor: pointer ;
    position: absolute;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    right: 0;
    top: -2px;
}
.icons img {
    cursor: pointer;
    width: 32px;
    margin-bottom: 5px;
    margin-left: 15px;
}
.title {
    position: relative;
    margin: 20px 20px;
    font-size: 30px;
    font-weight: 700;
}
.wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill , minmax(450px , 1fr));
    margin-left: 20px;
    margin-right: 20px;
}
.welcome {
    overflow: hidden;
    border-radius: 10px;
    background: white;
}
@media(max-width: 767px) {
    .welcome {
        display: block;
        text-align: center;
    }
    .wrapper {
        grid-template-columns: minmax(200px , 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.intro {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #EEE;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.intro h2 {
    margin: 0;
}
.intro p {
    margin-top: 5px;
    color: #888;
}
.wlc-image {
    width: 180px;
    margin-bottom: -10px;
}
.body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}
@media(max-width: 767px) {
    .body {
        display: block;
    }
}
.body > div {
    flex: 1;
}
.body-span {
    display: block;
    font-size: 15px;
    margin-top: 10px;
    color: #888;
}
.visit {
    display: block;
    width: fit-content;
    border-radius: 5px;
    font-size: 15px;
    margin: 0 15px 15px auto;
    transition: .3s;
    color: white;
    background: #0075ff;
    padding: 10px;
}
.visit:hover {
    background: #0d69d5;
}
.avatar {
    width: 64px;
    padding: 2px;
    border-radius: 50%;
    border: 2px solid #AAA;
    box-shadow: 0 0 5px #DDD;
    margin-left: 20px;
    margin-top: -30px;
}
@media(max-width: 767px) {
    .wlc-image {
        display: none;
    }
    .avatar {
        margin-left: 0;
    }
    .body-span {
        margin-top: 0;
        margin-bottom: 10px;
    }
}
.quick-draft {
    border-radius: 10px;
    background: white;
    padding: 20px;
}
.quick-draft h2 {
    margin-top: 0;
    margin-bottom: 10px;
}
.quick-draft p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 15px;
    color: #888;
}
.input-1 {
    display: block;
    width: 100%;
    border: none;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    background: #EEE;
}
.input-1:focus {
    outline: none;
}
.quick-draft form textarea {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background: #EEE;
    resize: none;
    height: 185px;
}
.quick-draft form textarea:focus {
    outline: none;
}
.input-2 {
    display: block;
    cursor: pointer;
    width: fit-content;
    border-radius: 5px;
    font-size: 15px;
    margin: 0 15px 15px auto;
    margin-right: 5px;
    transition: .3s;
    color: white;
    background: #0075ff;
    padding: 10px;
    border: none;
}
.input-2:hover {
    background: #0d69d5;
}
.targets {
    border-radius: 10px;
    background: white;
    padding: 20px;
}
.targets h2 {
    margin: 0;
}
.targets p {
    margin-top: 5px;
    color: #888;
}
.target-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    color: #0075ff;
}
.target-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.target-icon i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 80px;
    height: 80px;
    background: rgb(191, 225, 255);
    color: #0075ff;
}
.d-1 {
    font-size: 15px;
    color: #888;
}
.d-2 {
    margin-top: 5px;
    display: block;
    font-weight: bold;
    color: black;
}
.d-22 {
    margin-top: 5px;
    display: block;
    font-weight: bold;
    color: black;
}
.d-222 {
    margin-top: 5px;
    display: block;
    font-weight: bold;
    color: black;
}
.progress {
    position: relative;
    height: 3.5px;
    background: rgb(0 117 255 / 20%);
}
.progress2 {
    position: relative;
    height: 3.5px;
    background: rgba(255, 179, 0, 0.2);
}
.progress3 {
    position: relative;
    height: 3.5px;
    background: rgb(34 197 94 / 20%);
}
.d-3 {
    width: 85%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    color: white;
    background: #0075ff;
}
.d-33 {
    width: 60%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    color: white;
    background: #ffa406;
}
.d-333 {
    width: 95%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    color: white;
    background: #22c55e;
}
.d-4 {
    position: absolute;
    padding: 2px 5px;
    font-size: 14px;
    right: -18px;
    bottom: 15px;
    color: #fff;
    background: #0d69d5;
    border-radius: 5px;
}
.d-44 {
    position: absolute;
    padding: 2px 5px;
    font-size: 14px;
    right: -18px;
    bottom: 15px;
    color: #fff;
    background: #ffb027;
    border-radius: 5px;
}
.d-444 {
    position: absolute;
    padding: 2px 5px;
    font-size: 14px;
    right: -18px;
    bottom: 15px;
    color: #fff;
    background: #22c55e;
    border-radius: 5px;
}
.d-4::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #0075ff;
}
.d-44::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #ffb027;
}
.d-444::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #22c55e;
}
.targets .details {
    margin-left: 15px;
    flex: 1;
}
.tickets {
    border-radius: 10px;
    background: white;
    padding: 20px;
}
.tickets h2 {
    margin: 0;
}
.tickets p {
    margin-top: 5px;
    margin-bottom: 20px;
    color: #888;
}
.wrapper2 {
    display: flex;
    text-align: center;
    gap: 20px;
    flex-wrap: wrap;
}
.t-box {
    width: calc(50% - 10px);
    padding: 20px;
    border-radius: 10px;
    font-size: 13px;
    color: #888;
    border: 1px solid #CCC;
}
.t-box i {
    font-size: 30px;
    margin-bottom: 10px;
}
.t-box span {
    display: block;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
    color: black;
}
@media(max-width: 767px) {
    .t-box {
        width: 100%;
    }
}
.news {
    border-radius: 10px;
    background: white;
    padding: 20px;

}
.news .news-row:not(:last-of-type) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EEE;
}
.news h2 {
    margin-bottom: 10px;
}
.news-row {
    display: flex;
    align-items: center;
}
.news-row img {
    width: 120px;
    margin-top: 15px;
    margin-right: 10px;
    border-radius: 10px;
}
.news-info {
    flex-grow: 1;
}
.news-info h3 {
    margin: 0 0 5px;
    font-size: 16px;
}
.news-info span {
    font-size: 14px;
    color: #666;
}
.info-2 h5 {
    font-weight: 400;
    background: #e7e8ea;
    padding: 5px 10px;
    border-radius: 5px;
}
@media(max-width: 767px) {
    .news-row {
        display: block;
    }
    .info-2 {
        margin: 10px auto;
        width: fit-content;
    }
    .news-row {
        text-align: center;
    }
}
.tasks {
    border-radius: 10px;
    background: white;
    padding: 20px;
}
.tasks h2 {
    margin-bottom: 20px;
}
.tasks-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tasks-row:not(:last-of-type) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EEE;
}
.tasks-row i {
    font-size: 20px;
}
.tasks-row i:hover {
    cursor: pointer;
    transition: .3s;
    color: #f44336;
}
.tasks-info {
    flex-grow: 1;
}
.tasks-info h4 {
    font-size: 16px;
}
.tasks-info p {
    font-size: 18px;
    color: #666;
}
#del-icon {
    opacity: .5;
}
#del-icon:hover {
    cursor: default;
    color: black;
}
@media(max-width: 500px) {
    .tasks-info h4 {
        font-size: 13px;
    }
    .tasks-info p {
        font-size: 15px;
    }
    .tasks-row i {
        font-size: 15px;
    }
}
.top-search {
    border-radius: 10px;
    background: white;
    padding: 20px;
}
.top-box {
    display: flex;
    justify-content: space-between;
}
.top-box h4 {
    margin-top: 15px;
    color: #666;
}
.top-row {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    margin-top: 20px;
}
.top-search-btn  {
    background: #E4E4E4;
    padding: 2px 8px;
    border-radius: 5px;
}
.top-row:not(:last-of-type) {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #EEE;
}
.uploads {
    border-radius: 10px;
    background: white;
    padding: 20px;
}
.uploads h2 {
    margin-bottom: 20px;
}
.uploads-ul {
    margin: 0;
}
.uploads-ul li {
    display: flex;
    justify-content: space-between;
}
.main-uploads {
    display: flex;
    align-items: center;
}
.main-uploads img {
    margin: 10px;
    width: 45px;
}
.pdf {
    display: block;
}
.my-name {
    font-size: 15px;
    color: #666;
}
.uploads-size {
    margin-top: 10px;
}
.uploads-size span {
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 14px;
    background: #EEE;
}
.project {
    position: relative;
    margin: 0;
    border-radius: 10px;
    background: white;
    padding: 20px;
}
.project h2 {
    margin-top: 0;
    margin-bottom: 20px;
}
.project ul {
    position: relative;
    margin: 0;
}
.project li {
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.project ul::before {
    content: '';
    position: absolute;
    left: 11px;
    width: 2px;
    height: 100%;
    background: #0075ff;
}
.project ul li::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFF;
    border: 2px solid #FFF;
    outline: 2px solid #0075ff;
    margin-right: 15px;
    z-index: 1;
}
.project ul li.done::before {
    background: #0075ff;
}
.project ul li.current::before {
    background: #0075ff;
    animation: change-color 0.8s infinite alternate
}
@keyframes change-color {
    from {
        background: #0075ff;
    }
    to {
        background: #FFF;
    }
}
.project img {
    position: absolute;
    width: 160px;
    right: 0;
    bottom: 0;
    opacity: 0.2;
}
@media (max-width: 767px) {
    .project img {
        display: none;
    }
}
.reminders {
    position: relative;
    border-radius: 10px;
    background: white;
    padding: 20px;
}
.reminders h2 {
    margin-top: 0;
    margin-bottom: 25px;
}
.reminders img {
    position: absolute;
    width: 100px;
    right: 0;
    top: 0;
    padding: 5px;
    opacity: .9;
}
@media(max-width: 420px) {
    .reminders img {
        width: 75px;
    }
}
.reminders ul {
    margin: 0;
}
.reminders li {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.rem-span1 {
    display: block;
    border-radius: 50%;
    margin: 15px;
    background: #0075ff;
    width: 15px;
    height: 15px;
}
.rem {
    padding-left: 15px;
}
.reminders ul li > .blue {
    border-left: 2px solid #0075ff;
}
.reminders li > .green {
    border-left: 2px solid #22c55e;
}
.reminders li > .orange {
    border-left: 2px solid #ffa406;
}
.reminders li > .red {
    border-left: 2px solid #f44336;
}
.rem p {
    font-weight: bold;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 5px;
}
.rem-span2 {
    font-size: 13px;
    color: #666;
}
.post {
    position: relative;
    border-radius: 10px;
    background: white;
    padding: 20px;
}
.post h2 {
    margin-top: 0;
    margin-bottom: 25px;
}
.top {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #EEE;
}
.top img {
    width: 48px;
    margin: 15px;
}
.infoo {
    margin-left: 5px;
}
.infoo h3 {
    font-size: 16px;
}
.infoo span {
    color: #666;
}
.post-content {
    text-transform: capitalize;
    line-height: 1.8;
    min-height: 140px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #EEE;
}
@media(max-width: 767px) {
    .post-content {
        text-align: center;
    }
}
.reacts {
    display: flex;
    justify-content: space-between;
}
.react {
    color: #666;
}
.social {
    position: relative;
    border-radius: 10px;
    background: white;
    padding: 20px;
}
.social h2 {
    margin-top: 0;
    margin-bottom: 25px;
}
.app {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.app i {
    font-size: 25px;
    padding: 20px;
    color: white;
    background: #1877f2;
}
.app-btn {
    font-size: 14px;
    margin-right: 10px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #1877f2;
    color: white;
}
.app-btn:hover {
    transition: .3s;
    transform: translateY(-7px);
}
@media(max-width: 545px) {
    .app-btn {
        display: none;
    }
    .app {
        padding-right: 10px;
    }
}
.project-table {
    background: #FFF;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}
.project-table h1 {
    margin-top: 0;
    margin-bottom: 20px;
}
.responsive-table {
    overflow-x: auto;
}
.project-table table {
    width: 100%;
    min-width: 900px;
    font-size: 15px;
    border-spacing: 0;
}
.project-table thead td {
    background: #EEE;
    font-weight: bold;
}
.project-table table td {
    padding: 15px;
}
.project-table tbody td {
    border-bottom: 1px solid #EEE;
    border-left: 1px solid #EEE;
}
.project-table tbody td:last-child {
    border-right: 1px solid #EEE;
}
td span {
    font-size: 13px;
    padding: 5px 7.5px;
    border-radius: 10px;
}
tbody img {
    width: 32px;
    border-radius: 50%;
    padding: 2.5px;
    background: #FFF;
}
tbody img:not(:first-child) {
    margin-left: -20px;
}
tbody tr:hover {
    cursor: pointer;
    transition: all linear 0.2s;
    background: #f4f0f0;
}